email=ITO-TeamCharon@spk.no
registry = http://nexus/content/groups/npm-combined/
@spk:registry = http://nexus/content/repositories/spk-npm/
_auth = c2EtbnBtOmRwWEJDaWxSMlVsTA==
//nexus/content/repositories/spk-npm/:_auth=c2EtbnBtOmRwWEJDaWxSMlVsTA==