name: Build and Publish to GitHub Packages

on:
  push:
  workflow_dispatch:

jobs:
  build:
    uses: statens-pensjonskasse/public-actions-library/.github/workflows/build-library-node.yaml@fix/npm-workflows
    permissions:
      contents: write
      packages: write
    secrets: inherit
    with:
      build-script: ''
      test-script: ''
      node-version: '21'
