name: Build and Publish to GitHub Packages

on:
  push:
  workflow_dispatch:

jobs:
  build:
    uses: statens-pensjonskasse/public-actions-library/.github/workflows/build-library-node.yaml@92853d2c2e1f5df9938ceeef916a0e0f6f326987 # v0.2.6
    permissions:
      contents: write
      packages: write
    secrets: inherit
    with:
      node-version: '21'
