name: Publish
on:
  push:
    branches:
      - main            
  workflow_call:
    inputs:
      node-version:
        required: true
        type: string
        description: Node Version to use
      runner-tag:
        required: false
        default: 'ubuntu-latest'
        type: string
        description: Runner tags used to specify which kind of runner to use
      short-lived:
        required: false
        type: string
        default: 'feature/, hotfix/'
        description: Short-lived branches
      exec-cmd:
        required: false
        type: string
        default: 'npm'
        description: Containerify exec command, either 'npm' or 'yarn'
      install-goals:
        required: false
        type: string
        default: 'ci'
        description: Npm/Yarn build goal(s)
      build-goals:
        required: false
        type: string
        default: 'run build --if-present'
        description: Npm/Yarn build goal(s)
      test-goals:
        required: false
        type: string
        default: 'test'
        description: Npm/Yarn test goal(s)
      prune-goals:
        required: false
        type: string
        default: 'prune --omit=dev'
        description: Npm/Yarn build goal(s)
      prune:
        required: false
        type: string
        description: Prune dependencies
      publish-goals:
        required: false
        type: string
        default: 'publish'
        description: Npm/Yarn publish goal(s)
      slack-channel:
        required: false
        type: string
        description: Slack channel to send notifications to
      slack-bot-name:
        required: false
        type: string
        description: The name the Slack bot should post as
      slack-bot-icon:
        required: false
        type: string
        description: The icon the Slack bot should use

jobs:
  build-and-publish:
    name: Build and Publish Library
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    env:
      TZ: 'Europe/Oslo'
    outputs:
      new-version: ${{ steps.new-version.outputs.version }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #v4.2.2
        with:
          fetch-depth: 0

      - name: Set up Node ${{ inputs.node-version }}
        uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a # v4.2.0
        with:
          node-version: ${{ inputs.node-version }}
          registry-url: 'https://npm.pkg.github.com'
          scope: '@statens-pensjonskasse'
          always-auth: 'true'

      - name: Determine if we should publish and release
        id: should-publish
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_FOR_PACKAGES_ACCESS }}
        run: |
          BRANCH_REGEX=$(echo '${{ inputs.short-lived }}' | sed 's/^/(/; s/,\s*/|/g; s/\*/.*/g; s/$/)/')
          if [[ "${{ github.ref_name }}" = "${{ github.event.repository.default_branch }}" ]]; then
            COMMIT_MESSAGE_REGEX='chore\(snapshot\): Bump snapshot-versjon'
            if [[ '${{ github.event.head_commit.message }}' =~ $COMMIT_MESSAGE_REGEX || '${{ github.event.pusher.name }}' = 'gh-action-library[bot]' ]]; then
              echo "publish=false" >> $GITHUB_OUTPUT
              echo "release=false" >> $GITHUB_OUTPUT
            else
              echo "publish=true" >> $GITHUB_OUTPUT
              echo "release=true" >> $GITHUB_OUTPUT
            fi
          elif [[ "${{ github.ref_name }}" =~ $BRANCH_REGEX ]]; then
            echo "publish=true" >> $GITHUB_OUTPUT
          fi
      - name: Calculate next version based on git tags and conventional commits
        id: version
        if: steps.should-publish.outputs.release == 'true'
        uses: statens-pensjonskasse/gal-components/calculate-new-tag-for-versioning@f1e917932c316486225dbc5268af013581cbdf3d # v0.3.1
        with:
          tag-prefix: ""

      - name: Determine release version calculated version or pom.xml
        id: new-version
        if: steps.should-publish.outputs.release == 'true'
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_FOR_PACKAGES_ACCESS }}
        run: |
          TAG_VERSION="${{ steps.version.outputs.version }}"
          PACKAGE_VERSION=$(jq -r '.version' package.json)
          VERSION=$(echo -e "PACKAGE_VERSION\n$TAG_VERSION" | sort -V | tail -n1)
          echo "version=$VERSION" >> $GITHUB_OUTPUT
          echo "Using $VERSION (package.json=PACKAGE_VERSION, tag=$TAG_VERSION)"
      - name: Update package.json to release version
        if: steps.should-publish.outputs.release == 'true'
        run: |
          jq --arg version "${{ steps.new-version.outputs.version }}" '.version = $version' package.json > tmp.$$.json && mv tmp.$$.json package.json
          git add package.json
      - name: Install dependencies with ${{ inputs.exec-cmd }}
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_FOR_PACKAGES_ACCESS }}
          NODE_AUTH_TOKEN: ${{ github.token }}
        run: ${{ inputs.exec-cmd }} ${{ inputs.install-goals }}

      - name: Build with ${{ inputs.exec-cmd }}
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_FOR_PACKAGES_ACCESS }}
          NODE_AUTH_TOKEN: ${{ github.token }}
        run: ${{ inputs.exec-cmd }} ${{ inputs.build-goals }}

      - name: Test with ${{ inputs.exec-cmd }}
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_FOR_PACKAGES_ACCESS }}
          NODE_AUTH_TOKEN: ${{ github.token }}
        run: ${{ inputs.exec-cmd }} ${{ inputs.test-goals }}

      - name: Prune with ${{ inputs.exec-cmd }}
        if: inputs.prune != ''
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_FOR_PACKAGES_ACCESS }}
        run: ${{ inputs.exec-cmd }} ${{ inputs.prune-goals }}

      - name: Publish to Packages
        if: steps.should-publish.outputs.publish == 'true'
        env:
          GITHUB_TOKEN: ${{ github.token }}
          NODE_AUTH_TOKEN: ${{ github.token }}
        run: ${{ inputs.exec-cmd }} ${{ inputs.publish-goals }}

      - name: Get app token
        id: app-token
        if: steps.should-publish.outputs.release == 'true'
        uses: actions/create-github-app-token@21cfef2b496dd8ef5b904c159339626a10ad380e # v1.11.6
        with:
          app-id: ${{ secrets.GH_ACTIONS_LIBRARY_APP_ID }}
          private-key: ${{ secrets.GH_ACTIONS_LIBRARY_APP_KEY }}

      - name: Commit and push release version
        if: steps.should-publish.outputs.release == 'true'
        uses: dsanders11/github-app-commit-action@43de6da2f4d927e997c0784c7a0b61bd19ad6aac #v1.5.0
        with:
          message: "chore(release): Release av versjon ${{ steps.new-version.outputs.version }} [skip actions]"
          token: ${{ steps.app-token.outputs.token }}

      - name: Tag and push new version
        if: steps.should-publish.outputs.release == 'true'
        run: |
          git pull # Pull in the release commit pushed by github-app-commit-action
          git tag ${{ steps.new-version.outputs.version }}
          git push --tags
      - name: Create GitHub release with generated notes
        if: steps.should-publish.outputs.release == 'true'
        uses: statens-pensjonskasse/gal-components/create-github-release-with-generated-notes@f1e917932c316486225dbc5268af013581cbdf3d # v0.3.1
        with:
          tag: ${{ steps.new-version.outputs.version }}

      - name: Determine next beta version
        id: bump-semver
        if: steps.should-publish.outputs.release == 'true'
        uses: actions-ecosystem/action-bump-semver@34e334551143a5301f38c830e44a22273c6ff5c5 #v1.0.0
        with:
          current_version: ${{ steps.new-version.outputs.version }}
          level: patch

      - name: Update package.json to beta version
        if: steps.should-publish.outputs.release == 'true'
        run: |
          jq --arg version "${{ steps.bump-semver.outputs.version }}-beta.0" '.version = $version' package.json > tmp.$$.json && mv tmp.$$.json package.json
          git add package.json
      - name: Commit and push snapshot version
        if: steps.should-publish.outputs.release == 'true'
        uses: dsanders11/github-app-commit-action@43de6da2f4d927e997c0784c7a0b61bd19ad6aac #v1.5.0
        with:
          message: "chore(beta): Bump beta-versjon til ${{ steps.bump-semver.outputs.new_version }}-beta.0"
          token: ${{ steps.app-token.outputs.token }}

  notify:
    name: Notify Slack
    needs: build-and-publish
    if: >
      always() 
      && inputs.slack-channel != ''
    runs-on: ubuntu-latest
    continue-on-error: true
    permissions:
      contents: read
    steps:
      - name: Send CI/CD Slack Message
        uses: statens-pensjonskasse/gal-components/send-ci-cd-slack-notification@f1e917932c316486225dbc5268af013581cbdf3d # v0.3.1
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
        with:
          slack-token: ${{ secrets.SLACK_BOT_TOKEN }}
          channel: ${{ inputs.slack-channel }}
          username: ${{ inputs.slack-bot-name }}
          icon: ${{ inputs.slack-bot-icon }}
          result: ${{ needs.build-and-publish.result }}
          release-version: ${{ needs.build-and-publish.outputs.new-version }}
          notify-branches: ${{ inputs.short-lived }}