name: Build and Publish to GitHub Packages

on:
  push:
  workflow_dispatch:

jobs:
  build:
    uses: statens-pensjonskasse/github-actions-library/.github/workflows/build-library-npm-yarn.yaml@5ea8e07a47b2a62e70d0712db7a59bf89f25c768
    permissions:
      contents: write
      packages: write
    secrets: inherit
    with:
      node-version: '21'
      slack-channel: '#github-alerts'
      slack-bot-name: 'GitHub Actions'
      slack-bot-icon: ':monkey:'

