name: Build and Publish to GitHub Packages

on:
  push:
  workflow_dispatch:

jobs:
  build:
    uses: statens-pensjonskasse/public-actions-library/.github/workflows/build-library-node.yaml@0a5ee5a4ed3bbb4290b8583c6ad50e4a5d494931 # v0.2.7
    permissions:
      contents: write
      packages: write
    secrets: inherit
    with:
      node-version: '21'
