name: Build and Publish to GitHub Packages

on:
  push:
  workflow_dispatch:

jobs:
  build:
    uses: statens-pensjonskasse/public-actions-library/.github/workflows/build-library-node.yaml@248ea2c35214487333e9eb17c84e3b353a524451 # v0.2.4
    permissions:
      contents: write
      packages: write
    secrets: inherit
    with:
      node-version: '21'
